<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>

<configuration>
	<!-- <properties resource='jdbc.properties' /> -->
	<typeAliases>
		<typeAlias type="br.com.spring.domain.SQLAdapter" alias="SQLAdapter"/>
		<typeAlias type='br.com.spring.domain.Usuario' alias='Usuario'/>
		<typeAlias type='br.com.spring.domain.Sistema' alias='Sistema'/>
		<typeAlias type='br.com.spring.domain.Credencial' alias='Credencial'/>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC'/>
			<dataSource type='POOLED'>
				<property name="driver" value="org.postgresql.Driver"/>
				<property name="url" value="jdbc:postgresql://localhost:5432/spring"/>
				<property name="username" value="postgres"/>
				<property name="password" value="oramap82"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="br/com/spring/mapper/xml/SpringDBMapper.xml"/>
		<mapper resource="br/com/spring/mapper/xml/UsuarioMapper.xml"/>
		<mapper resource="br/com/spring/mapper/xml/CredencialMapper.xml"/>
		<mapper resource="br/com/spring/mapper/xml/SQLAdapterMapper.xml"/>
	</mappers>
</configuration>