<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='br.com.spring.mapper.object.UsuarioMapper'>

	<!-- Instead of referencing Fully Qualified Class Names we can register aliases in mybatis-config.xml and use Alias names. -->
	<resultMap type='Sistema' id='SistemaResult'>
		<id property='id' column='id'/>
		<result property='nome' column='nome'/>
		<result property='observacao' column='observacao'/>
		<result property='excluido' column='flg_excluido'/>
	</resultMap>

	<select id='getSistemaPorId' parameterType='long' resultMap="SistemaResult">
		SELECT
			*
		FROM
			sistema
		WHERE
			id = #{id}
	</select>

	<select id='getListSistemas' resultMap='SistemaResult'>
		SELECT
			*
		FROM
			sistema
	</select>

	<insert id='insertSistema' parameterType='Sistema' useGeneratedKeys='true' keyProperty='id'>
<!-- 		<selectKey resultType="long" order="AFTER" keyProperty="returnedID"> -->
<!-- 			SELECT LAST_INSERT_ID() as returnedID -->
<!-- 		</selectKey> -->
		INSERT INTO	sistema (
			nome,
			observacao
		) VALUES (
			#{nome},
			#{observacao}
		)
	</insert>

	<update id='updateSistema' parameterType='Sistema'>
		UPDATE
			sistema
		SET
			nome = #{nome},
			observacao = #{observacao}
		WHERE
			id = #{id}
	</update>

	<delete id='deleteSistema' parameterType='long'>
		UPDATE
			sistema
		SET
			flg_excluido = TRUE
		WHERE
			id = #{id}
	</delete>
</mapper>